<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--定义项目中日志输出位置-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!--定义项目的日志输出格式-->
        <!--定义项目的日志输出格式-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern> [%p] %d{yyyy-MM-dd HH:mm:ss} %m %n</pattern>
        </layout>
    </appender>

    <!--项目中根日志 只能出现一次-->
    <root level="ERROR">
        <!--根日志输出位置-->
        <appender-ref ref="stdout"/>
    </root>

    <!--子日志多个 继承根日志的输出位置-->
    <logger name="com.baizhi.zcn.mapper" level="DEBUG"/>

</configuration>